/*************/
/* variables */
/*************/

$images:	"../images/";
$fonts:		"../fonts/";

$default_fonts:	'Alef', sans-serif;

/*******************/
/* admin variables */
/*******************/

$admin-images:	"../../images/admin/";

/**********/
/* colors */
/**********/

$black:				#000;
$white:				#FFF;

/**************/
/* typography */
/**************/

$line-height:		24px;
$font-size:			18px;
$font-color:		$black;

$link-color:		$black;
$link-hover-color:	$black;

$font-light:		300;
$font-regular:		400;
$font-semi-bold:	600;
$font-bold:			700;

/***********/
/* borders */
/***********/

