@import "../functions";

@charset "utf-8";

/******************/
/* tinyMCE editor */
/******************/

.mceContentBody {
	margin: 1%;
	padding: 4%;
	width: 90%;
	font-family: $default_fonts !important;
	font-size: 100%;
	color: $font-color;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	border-right: 1px dotted #CCC;
	background-color: $white;
	@include box-sizing;

	@import "../typography";

	img.mce-wp-nextpage,
	img.mce-wp-more {
		height: 12px;
	}
}